@use "../utils/mixins" as mxn;
.footer__-flex {
  @media (max-width: 576px) {
    flex-direction: column !important;
  }
  h4 {
    @include mxn.family(Clash Display, 16px, 400, 19.68px, white);
    text-align: left;
  }
  p {
    @include mxn.family(Satoshi, 14px, 400, 18.9px, rgba(255, 255, 255, 1));
    text-align: left;
  }
}
footer {
  h2 {
    @include mxn.family(Satoshi, 14px, 400, 18.9px, white);
  }
}
