@use "../utils/mixins" as mxn;
.fddsdf{
  @media (max-width:992px){   
    flex-direction: column;
    align-items: center;
  }
}
.sizeee {
  width: 621px;
  @media (max-width:635px){
    width: 100%;
  }
}
.ceramics_sdf {
  h1 {
    padding-top: 91px;
    @include mxn.family(Clash Display, 36px, 400, 44.28px, black);
    text-align: left;
    margin-bottom: 40px !important;
  }
  h3 {
    @include mxn.family(Clash Display, 16px, 400, 44.28px, black);
    text-align: left;
  }
  p {
    @include mxn.family(Satoshi, 16px, 400, 21px, black);
    max-width: 500px;
    text-align: left;
    padding-bottom: 20px;
  }
  .topz0--d{
    padding-top: 30px;
  }
}
